@model IEnumerable<AspMVCProject.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<button type="button" class="btn btn-info addProductbtn" data-toggle="modal" data-target="#addProduct">
    Add product
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" > @Html.DisplayNameFor(m => m.name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]"> @Html.DisplayNameFor(m => m.price)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"> @Html.DisplayNameFor(m => m.createdDate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdDate)
            </td>
            <td>
                <button type="button" class="btn btn-success editProductBtn" data-toggle="modal" data-target="#editProduct" data-url="@Url.Action($"EditItem", new { id = item.id })">
                    Edit
                </button> |
                <button type="button" class="btn btn-light detailsProduct" data-toggle="modal" data-target="#detailsProduct">
                    Details
                </button> |
                <button type="button" class="btn btn-danger delteProduct" data-toggle="modal" data-target="#delteProduct"  data-url="@Url.Action($"RemoveItem", new { id = item.id })">
                    Delete
                </button>
            </td>
        </tr>
}
    </tbody>
</table>


@await Html.PartialAsync("_ProductsPv", new Product())

<div id="editSection">

</div>

@section Scripts{
    <script type="text/javascript">
        $(".addProductbtn").click(function (e) {
           $("#addProduct").modal("show");
        });


        $(".closebtn").click(function (e) {
            $("#addProduct").modal('hide');
        });

        //edit pv
        $(".editProductBtn").click(function (e) {
            e.preventDefault();

            const url = $(this).data("url");

            $.get(url, function (data) {

                $("#editSection").html(data);

                $("#editProduct").modal("show");

                $(".editClosebtn").click(function (e) {
                    $("#editProduct").modal('hide');
                });
            });
        });

        $(".delteProduct").click(function (e) {
            e.preventDefault();

            const url = $(this).data("url");

            $.get(url, function (data) {

                $("#editSection").html(data);

                $("#removeProduct").modal("show");

                $(".removeClosebtn").click(function (e) {
                    $("#removeProduct").modal('hide');
                });
            });
        });
    </script>
}
