@model IEnumerable<AspMVCProject.Models.TheClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addClassModal" onclick="addClass()">
        Add Class
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.className)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.className)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teacher)
            </td>
            <td>
                <button type="button" class="btn btn-success editProductBtn" data-toggle="modal" data-target="#editProduct" onclick="editClass(@item.id)">
                    Edit
                </button> |
                    <button type="button" class="btn btn-light detailsProduct" data-toggle="modal" data-target="#detailsProduct" onclick="detailClass(@item.id)">
                    Details
                </button> |
                    <button type="button" class="btn btn-danger delteProduct" data-toggle="modal" data-target="#delteProduct" onclick="deleteClass(@item.id)">
                    Delete
                </button>
            </td>
        </tr>
}
    </tbody>
</table>

<div id="classSection">

</div>

<script>
    function addClass(){
        $.ajax({
            type: "Get",
            url: "/ClassPopup/AddClass",
            success: function(result) {
                $("#classSection").html(result);
                $("#addClassModal").modal('show');
            }
        })
    }


     function editClass(id){
        console.log("the id is :", id);
        $.ajax({
            type: "Get",
            url: "/ClassPopup/Edit/" + id,
            success: function(result) {
                $("#classSection").html(result);
                $("#editClassModal").modal('show');
            }
        })
    }

    function detailClass(id){
        console.log("the id is :", id);
        $.ajax({
            type: "Get",
            url: "/ClassPopup/Details/" + id,
            success: function(result) {
                $("#classSection").html(result);
                $("#detailClassModal").modal('show');
            }
        })
    }

    function deleteClass(id){
        console.log("the id is :", id);
        $.ajax({
            type: "Get",
            url: "/ClassPopup/Delete/" + id,
            success: function(result) {
                $("#classSection").html(result);
                $("#deleteClassModal").modal('show');
            }
        })
    }
</script>
