@model AspMVCProject.Models.TheClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TheClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.className)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.className)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher)
        </dd>
    </dl>

    <h4>Students</h4>

    <table class="table table-bordered" id="studentsTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth date</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.students.Count; i++)
            {
                <tr data-index="@i">
                    <td>
                        @Html.DisplayFor(x => x.students[i].Name, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(x => x.students[i].BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(x => x.students[i].phone, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
